@using AspMVC_Demo.Domain.Entities
@model Contact

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/css/Header.css">
    <link rel="stylesheet" type="text/css" href="~/css/GererContact.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="ul-topbar">
                <li><a href="~/home/Index">Accueil</a></li>
                <li><a href="~/home/Contact">Contact</a></li>
                <li><a href="~/auth/login">Login</a></li>
                <li><a href="~/auth/register">S'enregistrer</a></li>
                <li class="dropdown">
                    <a href="~/Contact/GererContact">Gestion des contacts</a>
                    <div class="dropdown-content">
                        <a href="~/Contact/AfficherContact">Afficher contact</a>
                        <a href="~/Contact/EnregistrerContact">Enregistrer contact</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="sous-navbar">
        <ul class="ul-sous-topbar">
            <li><a href="~/Contact/AfficherContact">Afficher contact</a></li>
            <li><a href="~/Contact/EnregistrerContact">Enregistrer un contact</a></li>
        </ul>
    </nav>
    <div class="card-container">
        <div class="card">
            <div class="card-Id">
                <h3>Identifiant</h3>
                <h5>@Model.Id</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-Nom">
                <h3>Nom</h3>
                <h5>@Model.Nom</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-Prenom">
                <h3>Prenom</h3>
                <h5>@Model.Prenom</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-Email">
                <h3>Email</h3>
                <h5>@Model.Email</h5>
            </div>
        </div>
    </div>

</body>
</html>

