@using AspMVC_Demo.Domain.Entities
@model Contact

@{
    Layout = "_Layout";
    ViewData["Title"] = "Me contacter";
}

<h1>Presentation</h1>
    <nav class="sous-navbar">
        <ul class="ul-sous-topbar">
            <li><a href="~/Contact/AfficherContact">Afficher contact</a></li>
            <li><a href="~/Contact/EnregistrerContact">Enregistrer un contact</a></li>
        </ul>
    </nav>
    <div class="card-container">
        <div class="card">
            <div class="card-Id">
                <h3>Identifiant</h3>
                <h5>@Model.Id</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-Nom">
                <h3>Nom</h3>
                <h5>@Model.Nom</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-Prenom">
                <h3>Prenom</h3>
                <h5>@Model.Prenom</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-Email">
                <h3>Email</h3>
                <h5>@Model.Email</h5>
            </div>
        </div>
    </div>

