@{
    Layout = "_Layout";
    ViewData["Title"] = "Gestion contact";
}
    <nav class="sous-navbar">
    <ul class="ul-sous-topbar">
        <li><a href="~/Contact/AfficherContact">Afficher contact</a></li>
        <li><a href="~/Contact/EnregistrerContact">Enregistrer un contact</a></li>
    </ul>
    </nav>
