@{
    Layout = "_Layout";
    ViewData["Title"] = "Afficher Contact";
}
    <h1>Modifier Contact</h1>
    <nav class="sous-navbar">
        <ul class="ul-sous-topbar">
            <li><a href="~/Contact/AfficherContact">Afficher contact</a></li>
            <li><a href="~/Contact/EnregistrerContact">Enregistrer un contact</a></li>
        </ul>
    </nav>
    <div class="wrapper">
        <form class="form-enregistrement" method="post">
            <div class="input-box">
                <label>Prenom</label>
                <input type="text" name="Prenom" placeholder="John" required />
            </div>
            <div class="input-box">
                <label>nom</label>
                <input type="text" name="nom" placeholder="Doe" required />
            </div>
            <div class="input-box">
                <label>email</label>
                <input type="email" name="email" placeholder="exemple@hotmail.fr" required />
            </div>
            <button class="btn" type="submit" value="send">Modifier contact</button>
        </form>
    </div>
